*, html {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

header{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.typing{
    font-size: 6.67dvh;
    color: #000000;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid black;
    animation: blinkCursor 0.7s steps(1) infinite;
    font-family: "Russo One";
    letter-spacing: 5px;
    min-height: 50px;
}

@keyframes blinkCursor{
    50%{
        border-color: transparent;
    }
}

@media (max-width: 600px) {
    .typing {
        font-size: 28px; /* Mengurangi ukuran font untuk tampilan seluler */
    }
    header .navbar-list .menu{ 
    padding-top: 5px;
}

    .why-section p{
        font-size: 16px; /* Mengurangi ukuran font untuk tampilan seluler */
        padding: 0 5px; /* Mengurangi padding horizontal */
    }
}


.navbar-list{
    display: flex;
    justify-content: center;
}

header .navbar-list .menu{ 
    display: flex;
    text-align: center;
    padding: 20px 0;
}

.menu li{
    list-style-type: none;
}

.menu li a{
    margin: 0 15px;
    text-decoration: none;
    color: gray;
    font-weight: 300;
}

nav .menu li:hover a{
    border-bottom: 2px solid #000000;
    font-weight: bold;
    color: #000000;
}   

.all-content .home .home-content{
    text-align: center;
    padding-top: 3rem;
}

.all-content .home .home-content p{
    margin-top: 15px;
    color: gray;
}

h2{
    letter-spacing: 2px;
}

.slide-wrapper{
    position: relative;
    width: 100%;
    max-width: 400px;
    height: auto;
    max-width: 43rem;
    margin: 0 auto;
}

.slider{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25) ;
    border-radius: 0.5rem;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    overflow: hidden;
    margin-top: 30px;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 2;
}

::-webkit-scrollbar{
    display: none;
}

.music{
    padding: 90px 0;
}

.music_judul{
display: flexbox;
text-align: center;
padding: 50px 0;
}

.music_judul p{
    padding: 10px 0;
}

.why-section{
    text-align: center;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
}

.why-section p{
    text-align: justify;
    border-radius: 10px;
    text-indent: 2em;
    letter-spacing: 2px;
}



